<!DOCTYPE html>
<HTML lang="en">
<head>
<meta charset=utf-8"> 
<title>我的记事本</title> 
<link rel="stylesheet" href="/public/stylesheets/login.css" />
 <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css" /> 
 <link rel="stylesheet" href="/public/stylesheets/main.css" />
<script src="/public/javascripts/resourceJS/jquery-1.9.1.min.js"></script>
<script src="/public/javascripts/login.js"></script>
<script src="/public/javascripts/resourceJS/bootstrap.min.js"></script>
</head>
	<body>
        #{doLayout /} 
    </body>
</html>
